{% extends "base.html" %}

{% block title %} Toifalar {% endblock %}

{% block content %}
    <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-20">
        <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900">{{category.name}}</h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Banh mi cmoon twee</p>
        </div>
        <div class="lg:w-2/3 w-full mx-auto overflow-auto">
        <table class="table-auto w-full text-left whitespace-no-wrap">
            <thead>
            <tr>
                <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tl rounded-bl"> 222</th>
                <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Speed</th>
            </tr>
            </thead>
            <tbody>
              
             <tr>
                <td class="px-4 py-3">Biriktirilmagan fanlar soni</td>
                <td class="px-4 py-3">soni</td>
            </tr>


            {% for cat in category.customer_related_name.all %}
            <!-- bu yerdagi ya'ni, category.customers.all dagi, customers models.py faylidagi Customer modilining category 
            qatoridagi "related_name=customers" ning customers bilan bir xil bo'lishi zarur va shart --> 
            <tr>
                <td class="px-4 py-3"><a href="{% url 'customersapp:customer_details' cat.pk %}"> {{ cat.first_name }} </a></td>
                <td class="px-4 py-3">5 Mb/s</td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
        </div>
    </div>
    </section>

{% endblock %}