{% extends 'base.html' %}

{% block title %} Mijozlar ro'yxati{% endblock title%}
{% block content %}

        <h2>SUSYS Customers</h2>
        <a href="{% url 'customersapp:create_customer'%}"> Yangi mijoz qo'shish</a>

            
                {% for customer in customers %}
                <div class="client">
                    <a href="{% url 'customersapp:customer_details' customer.pk %}">{{customer.first_name}} {{customer.last_name}}</a>
                </div>
                {% endfor %}
{% endblock %}
