{% extends 'base.html' %}

{% block title %} Tahrirlash {% endblock title %}

{% block content%}
<a href="{% url 'customersapp:customers_list'%}"> Barcha mijozlar sahifasiga o'tish</a>
<h3>{{customer.first_name}} {{customer.last_name}}ning ma'lumotlarini o'zgartirish: </h3>
    <form method="post">
        <!-- 
        Ismni kiriting:         <input type="text">
        Familiyasini kiriting:  <input type="text">
        Yoshini kiriting:       <input type="integer">
        -->
        <p>
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit"> Saqlash </button>
        <a href="{% url 'customersapp:delete_customer' customer.pk %}"> Mijozni o'chirish</a>
    </form>
{% endblock %}